.done__header
  %h1.message-done #{current_user.name} Cool, You Did It !
  .done__header__calendar
    = link_to user_path(@user) do
      %i.fa.fa-calendar

.training-menu-done
  = @training_menu

= link_to "ログアウト", destroy_user_session_path, class: "btn btn-logout",method: :delete