.callendar__message 
  #{current_user.name}, This Is What You Did

= month_calendar events: @trainings do |date,trainings|
  = date
  - trainings.each do |training|
    .done-training
      - training.done

= link_to "ログアウト", destroy_user_session_path, class: "btn btn-logout",method: :delete
     