.message{
  font-size: 50px;
  display: block;
  // background-color:#DDFFFF;
  text-align: center;
  padding: 20px 0;
  color: black;
}

.training-menu{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: solid 3px skyblue;
  text-align: center;
  line-height: 500px;
  font-size: 40px;
  margin: 100px auto;
}

.btn{
  text-decoration: none;
}

.btn-logout{
  color: gray;
  display: block;
  text-align: center;
}