.message{
  font-size: 50px;
  display: block;
  // background-color:#DDFFFF;
  text-align: center;
  padding: 20px 0;
  color: black;
}

.message-done{
  font-size: 50px;
  display: block;
  // background-color:#DDFFFF;
  text-align: center;
  padding: 20px 0;
  color: black;
  font-weight: bold;
}

.training-menu{
  height: 600px;
  width: 600px;
  border-radius: 50%;
  border: solid 3px skyblue;
  text-align: center;
  line-height: 600px;
  font-size: 40px;
  margin: 100px auto;
  a{
    text-decoration: none;
    color: black;
    display: block;
  }
}

.training-menu-done{
  height: 600px;
  width: 600px;
  border-radius: 50%;
  border: solid 10px skyblue;
  text-align: center;
  line-height: 600px;
  font-size: 40px;
  margin: 100px auto;
  a{
    text-decoration: none;
    color: black;
    display: block;
  }
}

.btn{
  text-decoration: none;
  color: gray;
  display: block;
  text-align: center;
}

.btn-logout{
}

.done__header{
  position: relative;
  a{
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 50px;
    color: gray;
  }
}