.top-message{
  height: 60px;
  line-height: 60px;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.new_user{
  .field{
    margin:20px auto;
    text-align: center;
    label{

    }
    input{
      margin-top: 5px;
      padding: 5px 30px;
    }
  }
  .actions{
    margin:20px auto;
    text-align: center;
    input{
      padding: 5px 30px;
    }
  }
}

.shared_links{
  margin:20px auto;
  text-align: center;
}


.done-training{
  display: block;
  color: lightblue;
}

.callendar__message{
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 100px;
  height: 100px;
}

.simple-calendar{
  .has-events{
    background-color: lightblue;
  }
}
