%h1 #{current_user.name}, Select Your Course

%ul
  %li
    = link_to "EASY", easy_menu_training_menus_path
  %li
    = link_to "NORMAL", normal_menu_training_menus_path
  %li
    = link_to "HARD", hard_menu_training_menus_path